/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  margin: 0;
  padding: 0;
  background-color: #C6C5B9;
}
mat-dialog-container.mat-dialog-container{
  background-color: #283044;
  color: #fff;
  h2{
    padding: 0;
    margin: 0;
  }

  .actions {
    margin-top: 1rem;
    text-align: right;
    .btnAdd,.btnYes{
      background-color: #38E4AE;

    }
    .btnCancel,.btnNO{
      background-color: #A53860;
    }
  }
  .mat-form-field-infix{
    padding: 0;
  }


}


